---
import ReactCard from '../components/react/ReactCard';
import Servercard from '../components/Servercard.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const title = 'Welcome to Astro';



---

<Layout>
	<div>
		<h1 class="bg-red-500">he we come</h1>
		<p>{title}</p>

		<button>click me</button>
		<ReactCard client:load/>
		<ReactCard client:idle/>
		<ReactCard client:visible/>
		<ReactCard client:media="(max-width: 768px)"/>
		<ReactCard client:only="react"/>
	</div>

	<Servercard server:defer/>
</Layout>


<script>
const btntag = document.querySelectorAll('button');

btntag.forEach((btn) => {
	btn.addEventListener('click', () => {
		console.log('clicked');
	});
})
</script>
